<!--Cards-->
<section class="my-5">
    <!--card 1-->
    <div class="row">
        <div class="col-lg-5">
            <!--Image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                    alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-7">
            <h3 class="font-weight-bold mb-3"><strong>
                    <mdb-icon fas icon="check"></mdb-icon>Gewissenhaft
                </strong></h3>

            <p>Denn wir schalten unser Gewissen nicht ab! Wir behalten immer unser Gewissen immer im Blick.
                Ein gewissenloses Arbeiten führt zu einer schlechteren Qualität des Ergebnisses.
            </p>

            <!-- Read more button -->
            <a mdbBtn color="success" mdbWavesEffect>Read more</a>
        </div>
    </div>

    <hr class="my-5">


    <!--card 2-->
    <div class="row">
        <div class="col-lg-7">
            <h3 class="font-weight-bold mb-3"><strong>
                    <mdb-icon fas icon="clipboard-list"></mdb-icon>Zuverlässig
                </strong></h3>
            <p>Zuverlässigkeit wird bei uns sehr groß geschrieben! Denn sie ist die Grundlage für eine erfolgreiche
                Zusammenarbeit.</p>
            <!-- Read more button -->
            <a mdbBtn color="success" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
        </div>

        <div class="col-lg-5">
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
                    alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <!--card 3-->
    <div class="row">
        <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
            </div>
        </div>

        <div class="col-lg-7">
            <a href="#!" class="indigo-text"></a>
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>
                    <mdb-icon fab icon="whmcs"></mdb-icon>Fortschrittlich
                </strong></h3>
            <p>Wir entwickeln uns ständig weiter. Sei es durch umweltfreundliche Reinigungsmittel die
                wir benutzen, oder durch regelmäßige Fortbildungen.</p>

            <!-- Read more button -->
            <a mdbBtn color="success" mdbWavesEffect>Read more</a>
        </div>
        <!-- Grid column -->
    </div>
</section>